body {
  background-color: #dbe2ef;
}

h1 {
  color: #112d4e;
}

h3 {
  color: #3f72af;
}

hr {
  border-color: gray;
  border-width: 10px;
  border-style: dotted none none none;
  height: 0px;
  width: 10%;
}

img {
  height: 300px;
}
